
        body{
            background-color:#E8F3D6;
        }
        hr{
            border-style:none;
            height: 2px;
            background-color:0;
            width: 5%;
            border-top-style:dotted;
            border-width: 4px;
        }
        h1{
            color:#62B6B7;
        }
        h3{
            color:#97DECE;
        }